.namedIcon {
  display: flex;
  justify-content: center;
  align-items: center;

  .icon {
    font-size: 1.2em;
    padding-bottom: 1.5px;

    &.loggedIn {
      color: green;
      filter: blur(1px);
    }
    &.loggedOut {
      color: red;
      filter: blur(1px);
    }
  }

  p {
    margin-left: 7px;
  }
}
